# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Manual testing directory
testing/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Go Tooling
*.prof
.golangci-lint.cache/

# Release artifacts (goreleaser)
dist/

# Repoman specific binary
repoman

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
